@import "../../assets/styles/variables.scss";
@import "../../assets/styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  align-items: center;
  text-align: center;
  &_miningInfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    color: $golden;
    white-space: nowrap;
    &_aurumBoosters,
    &_celiumBoosters,
    &_timeInfo,
    &_mainInfo {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      > p {
        font-size: 20px;
      }
    }
    &_mainInfo {
      display: flex;
      justify-content: space-around;
    }
  }
  &_buttonWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: $default-screen) {
  .container {
    &_miningInfo {
      grid-template-columns: 2fr;
    }
  }
}

@media (max-width: $small-screen) {
  .container {
    &_miningInfo {
      &_aurumBoosters,
      &_celiumBoosters,
      &_timeInfo,
      &_mainInfo {
        > p {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: $mobile-screen) {
  .container {
    &_miningInfo {
      &_aurumBoosters,
      &_celiumBoosters,
      &_timeInfo,
      &_mainInfo {
        > p {
          font-size: 3vw;
        }
      }
    }
  }
}
