@import "../../assets/styles/variables.scss";
@import "../../assets/styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
  align-items: center;

  &_leaderboard {
    color: $spaceBlue;
  }

  &_playersTable {
    text-align: center;
    border-collapse: collapse;
    > thead {
      > tr {
        > th {
          color: $spaceLightBlue;
          padding: 15px;
          font-size: 24px;
        }
      }
    }
    &_currentTr {
      border-radius: 8px;
      background-color: $blackBackground;
      scale: (1.1);
    }
    > tbody {
      > tr {
        transition: 0.2s ease-in-out;

        > td {
          color: $golden;
          padding: 15px;
          vertical-align: bottom;
          font-size: 24px;
        }
      }
      > tr:hover {
        border-radius: 8px;
        background-color: $blackBackground;
        scale: (1.1);
        > td {
          border: none;
          text-shadow: 0.2px 0.2px 20px $white;
        }
      }
    }
  }
}

@media (max-width: $mobile-screen), (max-width: $small-screen) {
  .container_playersTable > thead > tr > th,
  .container_playersTable > tbody > tr > td {
    font-size: 3vw;
  }
}
