@import "~bootstrap/scss/bootstrap.scss";
@import "./assets/styles/variables.scss";
@font-face {
  font-family: "titillium";
  src: url("./assets/fonts/Titillium/TitilliumWeb-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "stardos";
  src: url("./assets/fonts/Stardos/StardosStencil-Regular.ttf");
  font-display: swap;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  user-select: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: stardos;
  transition: all 0.2s ease-in-out;
  text-shadow: 0.2px 0.2px 0.2px $white;
  &:hover {
    text-shadow: 0.2px 0.2px 20px $white;
  }
}

p,
span,
h4,
h5,
a,
li {
  font-family: titillium;
  transition: all 0.2s ease-in-out;
  text-shadow: 0.3px 0.3px 0.3px $white;
  &:hover {
    text-shadow: 0.3px 0.3px 20px $white;
  }
}

button,
div,
img {
  transition: all 0.2s ease-in-out;
}

// Background wrapper
.App {
  background-color: $darkBlue;
}

// Component background
.Component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./assets/images/backgrounds/welcome_section_background.jpg");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $darkBlue;
}

::-webkit-scrollbar-thumb {
  background: $blackBackground;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: $spaceBlue;
}

// Input type="number" arrows disabling
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
